body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #225954;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.userIcon{
   justify-content: space-between;
   align-items: center;
   display: flex;
    width: 100%;
}
#configuracao{
    margin-top: -595px;
    position: fixed;
    left: 95%;
}
#interrogacao{
    margin-top: 610px;
    position: fixed;
    left: 95%;
}
.botoes{
    display: flex;
    background-color: transparent;
    border: none;
    flex-direction: column;
    align-content: center;
    gap: 50%;
    margin-top: 20px; 
}
.container-Principal{
    width: 250px;
    height: 500px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    animation: fadeIn 1s ease;
}

.container {
    max-width: 400px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    animation: fadeIn 1s ease;
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.volta{
    margin-left: -65%;
    margin-top: -90%;
    display: inline;
    padding: 10px 20px;
    font-size: 15px;
    color: #f9f9f9;
    background-image: linear-gradient(135deg, #5ac8bf, #25f799);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botoes {
    background-color: transparent;
    border: none;
    text-align: center;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
}

.faixa {
    background-color: linear-gradient(135deg, #5da2ff, #b066fe);
    color: #000000;
    padding: 10px;
    text-align: center;
}

.button {
    display: inline;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(135deg, #5ac8bf, #25f799);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.texts{
    text-align: center;
    border: none;
}
#backArrow{
    position: absolute;
    margin-top: -610px;
    left: 20px;
}
p{
    font-family: 'Roboto', sans-serif;
    
    font-size: large;

}