body{
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #225954;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#userIcon{
    margin-top: -590px;
    width: 380px;
    position:fixed;
    right: 74%;
}
#configuracao{
    margin-top: -595px;
    position: fixed;
    left: 95%;
}
#interrogacao{
    margin-top: 610px;
    position: fixed;
    left: 95%;
}
#butoes{
    display: flex;
    background-color: transparent;
    border: none;
    flex-direction: column;
    align-content: center;
    gap: 50%;
    margin-top: 20px;
    
}
.button {
    display: flex;
    padding: 10px 20px;
    font-size: 25px;
    color: #000;
    background-image: linear-gradient(135deg, #0dead7, #15e9f0);
    border:#000;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 3px;
    margin-left: 70px;
    /* Alinha verticalmente os elementos no container */
}